.Notification {
  .notice {
    background-color: #38AEF0;
    color: #fff;
    text-align: center;
    margin: 0;
  }
  .alert {
    background-color: #F35500;
    color: #fff;
    text-align: center;
    margin: 0;
  }
}
.simple-calendar .today{
  background: #f6ae54;
}
