// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.footer{
  min-width: 1200px;
  padding: 0 0 0;
  background: #2bbbce;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  height: 120px;
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .container{
    .row{
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      .col-md-12{
        flex: 0 0 100%;
        max-width: 100%;
        .copyright{
          margin-top: 29px;
          font-size: 15px;
          #year{
            color: white;
          }
        }
      }
    }
  }
}