p1{
  width: 60%;
  max-width: 100%;
  border: none;
  margin: 20px 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  display: flex;
  justify-content: start;
}